#*data/
#analysis
#reports
#subreads
*
!code/*
!envs/*
!*/
!Snakefile
!./README.md
!LICENSE
/.snakemake/*
.*
PhaseFinder
#blast_searches/*
#notes
#old
#results
#bam_files
#PhaseFinder
#*.bam
#*.fasta
#*.faa
#*.fna
#.DS_Store
#code/excluded
#logs
#dag.pdf
